.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Whatsapp {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

/* Estilos de Navbar */

.NavBar {
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 100, 205);
}

.NavBar nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem
}

/* Estilos de Home */

.Home {
    width: 100%;
    position: relative;
}

.Home img {
    width: 100%;
}

.Home h1 {
    position: absolute;
    top: 10%;
    left: 9%;
}

/* Estilos de Nosotros */

.Nosotros {
    width: 100%;
}

.NosotrosDivUno h2 {
    color: #660303;
    padding-left: 6rem;
    padding-top: 2rem;
}

.NosotrosDivUno p {
    color: black;
    padding-left: 6rem;
    padding-top: 2rem;
}

.NosotrosDivDos {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 22rem;
}

.NosotrosDivDos img {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.NosotrosDivDosA {
    background-color: #262626;
    width: 850px;
    height: 300px;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
}

.NosotrosDivTres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    margin: 3rem;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
}

.NosotrosDivTresA h3 {
    color: #660303;
    margin-bottom: 2rem;
}

.NosotrosDivTresA p {
    color: black;
}

.NosotrosDivTresB {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NosotrosAreas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NosotrosDescripcionAreas {
    color: black;
    margin: 1rem;
}

.NosotrosCarpinteriaHerreria {
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.NosotrosDivCuatro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    position: relative;
}

.NosotrosDivCuatroA p span {
    font-size: 2rem;
}

.NosotrosDivCuatro img {
    width: 100%;
}

.NosotrosDivCuatroA {
    background-color: #262626;
    width: 750px;
    height: 500px;
    position: absolute;
    top: -5rem;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NosotrosDivCuatro h4 {
    position: absolute;
    bottom: 1rem;
}

/* Estilos de Divisiones */

.Divisiones {
    background-color: #5E5954;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DivisionesDivUno {
    background-color: white;
    color: gray;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem;
}

.DivisionesDivUno h4:hover {
    color: black;
    cursor: pointer;
}

.Selected {
    color: black;
    background-color: #d4f1f7;
    border-radius: 25px;
    padding: 0.7rem;
    text-decoration-line: underline;
    text-decoration-color: #660303;
    text-decoration-thickness: 0.2rem;
}

.DivisionesDivDos {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.DivisionesDivDosA {
    width: 25rem;
    height: 20rem;
    padding: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    border: 1rem solid #660303;
}

.DivisionesDivDosB {
    display: flex;
    justify-content: center;
    margin: 1.3rem 0 1.3rem 0;
    color: black;
}

.DivisionesDivDosC {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
}

.DivisionesDivDosD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

/* Estilos de Contacto */

.Contacto {
    height: 14rem;
    width: 100%;
    background-color: #660303;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 8rem 0rem 8rem;
}

.ContactoDivDos div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
}

/* Smartphones */
@media (max-width: 1120px) {
    /* NavBar */

    .NavBar {
        height: 4rem;
    }

    .NavBar img {
        width: 5rem;
    }

    .NavBar nav ul {
        gap: 0.5rem
    }

    .NavBar nav ul li {
        font-size: 0.8rem;
    }

    /* Home */

    .Home img {
        height: 300px;
    }

    .Home h1 {
        top: 5%;
        left: 5%;
        font-size: 1.2rem;
    }

    /* Nosotros */

    .NosotrosDivUno h2 {
        padding-left: 2rem;
        padding-top: 1rem;
        font-size: 1.2rem;
    }

    .NosotrosDivUno p {
        padding-left: 2rem;
        font-size: 0.8rem;
    }

    .NosotrosDivDos img {
        width: 100%;
    }

    .NosotrosDivDosA {
        width: 300px;
        height: 220px;
        padding: 1rem;
    }

    .NosotrosDivDosA h3 {
        font-size: 1.2rem;
    }

    .NosotrosDivDosA p {
        font-size: 0.8rem;
    }

    .NosotrosDivTres{
        flex-direction: column;
        padding: 2rem;
        margin: 2rem;
    }

    .NosotrosDivTresA h3{
        font-size: 1.2rem;
        text-align: center;
    }

    .NosotrosDivTresA p{
        font-size: 0.8rem;
        text-align: center;
    }

    .NosotrosDivTresB{
        width: 100%;
        margin-top: 2rem;
    }

    .NosotrosCarpinteriaHerreria {
        width: 100%;
        justify-content: space-between;
    }

    .NosotrosDivTresB img{
        width: 50px;
        height: 50px;
    }

    .NosotrosDescripcionAreas {
        margin: 0.5rem;
        font-size: 0.8rem;
    }

    .NosotrosDivCuatro{
        margin-top: 5rem;
    }

    .NosotrosDivCuatro img {
        height: 290px;
    }

    .NosotrosDivCuatroA{
        width: 90%;
        height: 280px;
        padding: 1rem;
        text-align: center;
        top: -3rem;
    }

    .NosotrosDivCuatroA h3 {
        font-size: 1.2rem;
    }

    .NosotrosDivCuatroA p {
        font-size: 0.8rem;
    }

    .NosotrosDivCuatroA p span {
        font-size: 1.2rem;
    }

    .NosotrosDivCuatro h4 {
        bottom: 0.5rem;
        font-size: 1.5rem;
    }

    /* Divisiones */

    .DivisionesDivUno{
        padding: 0.2rem;
    }

    .Selected{
        padding: 0.4rem;
    }

    .DivisionesDivUno h4{
        font-size: 1rem;
    }

    .DivisionesDivDos{
        flex-direction: column;
    }

    .DivisionesDivDosA{
        width: 90vw;
    }

    .DivisionesDivDosC{
        width: 90vw;
    }

    .DivisionesDivDosC img {
        width: 100%;
    }

    /* Contacto */

    .Contacto {
        height: 14rem;
        align-items: center;
        padding: 1rem;
    }

    .ContactoDivUno img{
        width: 60%;
        height: 60%;
    }

    .Contacto p{
        font-size: 0.8rem;
    }

    .Whatsapp {
        bottom: 1rem;
        right: 1rem;
    }
}